<!--  
Copyright 2015 SPECS Project - CeRICT

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

@author  Massimiliano Rak massimiliano.rak@unina2.it
@author  Luigi De Matteis luigi.dematteis2@studenti.unina2.it
-->


	<div class="panel panel-default" >
						<div class="panel-heading">
							<h2>Start SLA Generation</h2>
						</div>
						<div class="panel-body">
							<div class="well">
								This wizard allows you to follow all the steps required to perform risk
								analysis of your application and gives you a hand in choosing the correct security controls
								to include in the Service Level Agreement.
							</div>
							
							
							<div class="well">Insert your data<!-- <button class="btn btn-primary pull-right" ng-click="reset()">Reset</button> -->
							</div>
													

<table width="100%">
<tr><td>
<!-- <form id="html5Form" method="post"> class="form-horizontal"
    data-fv-framework="bootstrap"
    data-fv-message="This value is not valid"
    data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-fv-feedbackicons-validating="glyphicon glyphicon-refresh"> -->

    
        <label>Name</label></td></tr>
            <tr><td>
            <input type="text" class="form-control" name="name"
                style="width:400px"
                maxlength="20"
                ng-model="user_name"/>
            </td></tr> 
			<tr><td>
        <label>Surname</label></td></tr> 
        	<tr><td>
            <input type="text" class="form-control" name="surname"
                style="width:400px"
                maxlength="40"
                ng-model="user_surname"/>
            </td></tr>
</table>	
<br/>
	<button type="submit" class="btn btn-primary pull-left" value="Save" title="Save" ng-click="add_user()">
           <span>Save</span>
         </button>
         
    <br/>
    <br/>
    <br/>
    <!-- <div class="well">
								or choose an existing session
							</div>
							<table width="100%">
<tr><td style="width:50%">
							<label >User</label>
							</td><td style="width:50%">
							<label>Session</label>
							</td></tr>
            <tr><td>
<select style="width:90%" class="form-control"
								name="userName" id="selectedUser"
								ng-options="(option.cognome+'&nbsp;'+option.name) for option in allUsers"
								ng-model="allUsers.selectedUser" style="width: 100%;"
								ng-change="updateSessions(allUsers.selectedUser)" ></select>
								</td><td>
								<select style="width:20%" class="form-control"
								name="userName" id="selectedUser"
								ng-options="option for option in allSessions"
								ng-model="allUsers.selectedUser.selectedSession" style="width: 100%;"
								></select>
    </td></tr>
    </table>
    <br/>
    <button class="btn btn-primary" ng-click="submitSession()">
           Next
         </button>
 -->
<!-- </form> -->










							
							
						</div>
					</div>